@use "./mixins" as *;
@use "./functions" as *;
@use "./variables" as *;
@use "./responsive" as *;

h1 {
  font-family: "Poppins", sans-serif;
  font-size: toRem(31.25);
  font-weight: $black;

  @include for-tablet-landscape-up {
    font-size: toRem(39.06);
  }
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: toRem(20);
  font-weight: $black;

  @include for-tablet-landscape-up {
    font-size: toRem(25);
  }
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: toRem(16);
  font-weight: $bold;

  @include for-tablet-landscape-up {
    font-size: toRem(20);
  }
}
