// MAIN COLORS
$primary-color-600: #e6404e;
$primary-color-400: #ff4757;
$primary-color-200: #ff7e89;
$primary-color-100: #ffedee;

// BASE COLORS
$white: #fafafa;
$black: #040404;

$title: #0b0b0b;
$text: #040404;
$background: #fafafa;

$gray-800: #242424;
$gray-700: #383838;
$gray-600: #6b6b6b;
$gray-400: #a8a8a8;
$gray-100: #f0f0f0;

$sucess: #29b866;
$warning: #ffc048;
$error: #e36363;
$disabled: #e3e3ed;

// EFFECTS
$border-radius: 8px;
$box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

// TEXT - FONT WEIGHT
$regular: 400;
$bold: 500;
$black: 800;

// ICONS
$icon-x-small: 20px;
$icon-small: 24px;
$icon-medium: 40px;
$icon-large: 48px;
