@use "../variables" as *;
@use "../mixins" as *;
@use "../functions" as *;
@use "../responsive" as *;

main {
  width: 100%;
  //height: 100%;
  padding: 0 gap(2);

  @include for-tablet-landscape-up {
    width: 75%;
    height: 100%;
  }
}
